In [8]:
import pandas as pd

In [4]:
df = pd.read_csv(filepath_or_buffer='data/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [5]:
df.shape

(200, 6)

In [6]:
df.dtypes

Age              int64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
Drug            object
dtype: object

#### loc ve iloc tekrarı

+ <b>loc:</b> Pandas kütüphanesinde veri seçmek için kullanılan çok güçlü bir yöntemdir. Özellikle <i>etiket</i> yani satır ve sütun isimlerini üzerinden nokta atışı veri seçimi yani select işlemi yapılır. "loc" etiket bazlı selection yapar.

+ <b>iloc:</b> Pandas kütüphanesinde veri seçmek için kullanılır. "loc" farkı ise "iloc" <i>pozisyona</i> göre seçim yapar yani satır numarası ve sütun numarası üzerinden işlem yapar. "iloc" integer

In [ ]:
#loc ile age ve sex i gösterelim

df.loc[:, ['Age', 'Sex']]

     Age Sex
0     23   F
1     47   M
2     47   M
3     28   F
4     61   F
..   ...  ..
195   56   F
196   16   M
197   52   M
198   23   M
199   40   F

[200 rows x 2 columns]

In [12]:
# iloc ile BP, Cholesterol,	Na_to_K, Drug gösterelim

df.iloc[:,  [2,3,4,5]]

         BP Cholesterol  Na_to_K   Drug
0      HIGH        HIGH   25.355  drugY
1       LOW        HIGH   13.093  drugC
2       LOW        HIGH   10.114  drugC
3    NORMAL        HIGH    7.798  drugX
4       LOW        HIGH   18.043  drugY
..      ...         ...      ...    ...
195     LOW        HIGH   11.567  drugC
196     LOW        HIGH   12.006  drugC
197  NORMAL        HIGH    9.894  drugX
198  NORMAL      NORMAL   14.020  drugX
199     LOW      NORMAL   11.349  drugX

[200 rows x 4 columns]

In [15]:
#iloc ile 7. satır ile 143. satırları gösterelim

df.iloc[[7, 143]]

     Age Sex    BP Cholesterol  Na_to_K   Drug
7     41   M   LOW        HIGH   11.037  drugC
143   74   M  HIGH      NORMAL   15.436  drugY

In [18]:
#loc ile 55. satırdan 67. satıra kadar olan Age , Na_to_K ve Drug ları gösterelim

df.loc[55:67, ['Age','Na_to_K', 'Drug']]

    Age  Na_to_K   Drug
55   26   14.160  drugC
56   65   11.340  drugB
57   40   27.826  drugY
58   60   10.091  drugX
59   34   18.703  drugY
60   38   29.875  drugY
61   24    9.475  drugA
62   67   20.693  drugY
63   45    8.370  drugX
64   60   13.303  drugB
65   68   27.050  drugY
66   29   12.856  drugA
67   17   10.832  drugX

In [20]:
#loc ile ilk 10daki 'Na_to_K' göre yaş, cinsiyet, Na_to_K  ve ilaçları gösterelim

top_ten_na_to_k = df.sort_values(by='Na_to_K', ascending=False).head(10)
top_ten_na_to_k.loc[:, ['Age', 'Sex', 'Na_to_K', 'Drug']]

     Age Sex  Na_to_K   Drug
96    58   F   38.247  drugY
184   18   F   37.188  drugY
98    20   M   35.639  drugY
188   65   M   34.997  drugY
194   46   F   34.686  drugY
128   47   M   33.542  drugY
24    33   F   33.486  drugY
131   52   M   32.922  drugY
33    65   F   31.876  drugY
48    23   M   31.686  drugY

In [ ]:
#loc ile en yüksek kadın Na_to_K değerlerini gösterin

top_ten_na_to_k_female = df[df['Sex'] == 'F'].sort_values(by='Na_to_K', ascending=False).head(10)

top_ten_na_to_k_female.loc[: , ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug']]

     Age Sex      BP Cholesterol  Na_to_K   Drug
96    58   F     LOW        HIGH   38.247  drugY
184   18   F    HIGH        HIGH   37.188  drugY
194   46   F    HIGH        HIGH   34.686  drugY
24    33   F     LOW        HIGH   33.486  drugY
33    65   F    HIGH      NORMAL   31.876  drugY
60    38   F     LOW      NORMAL   29.875  drugY
92    29   F    HIGH        HIGH   29.450  drugY
93    42   F     LOW      NORMAL   29.271  drugY
163   21   F    HIGH      NORMAL   28.632  drugY
65    68   F  NORMAL      NORMAL   27.050  drugY

In [10]:
#iloc ile en yüksek erkek Na_to_K değerlerini gösterin

top_ten_na_to_k_male = df[df['Sex'] == 'M'].sort_values(by='Na_to_K', ascending=False).head(10)

top_ten_na_to_k_male.iloc[:, [0,1,2,3,4]]

     Age Sex      BP Cholesterol  Na_to_K
98    20   M    HIGH      NORMAL   35.639
188   65   M    HIGH      NORMAL   34.997
128   47   M     LOW      NORMAL   33.542
131   52   M     LOW      NORMAL   32.922
48    23   M  NORMAL        HIGH   31.686
22    47   M     LOW      NORMAL   30.568
26    31   M    HIGH        HIGH   30.366
104   22   M    HIGH      NORMAL   28.294
57    40   M    HIGH        HIGH   27.826
52    62   M     LOW      NORMAL   27.183

In [ ]:
# Na_to_K 30.000 dan büyük olanları listeleyin

#Path I

(df.query('Na_to_K > 30.000')
    .loc[:, ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug']]
    .sort_values(by='Na_to_K', ascending=False)
 )


#Path II

# df[
#     df['Na_to_K'] > 30.000
# ][['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug']].sort_values(by='Na_to_K', ascending=False)

#Path III

# df[
#     df['Na_to_K'] > 30.000
# ].loc[:, ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug']].sort_values(by='Na_to_K', ascending=False)

     Age Sex      BP Cholesterol  Na_to_K   Drug
96    58   F     LOW        HIGH   38.247  drugY
184   18   F    HIGH        HIGH   37.188  drugY
98    20   M    HIGH      NORMAL   35.639  drugY
188   65   M    HIGH      NORMAL   34.997  drugY
194   46   F    HIGH        HIGH   34.686  drugY
128   47   M     LOW      NORMAL   33.542  drugY
24    33   F     LOW        HIGH   33.486  drugY
131   52   M     LOW      NORMAL   32.922  drugY
33    65   F    HIGH      NORMAL   31.876  drugY
48    23   M  NORMAL        HIGH   31.686  drugY
22    47   M     LOW      NORMAL   30.568  drugY
26    31   M    HIGH        HIGH   30.366  drugY

In [23]:
# Kadınlarda 25 yaşının üzerinde olup 50 yaşın altında olan, kollesterolü yüksek olanları sıralayalım (iloc ile)

(df.query('Age > 25 and Age < 50 and Sex == "F" and Cholesterol == "HIGH"')
    .iloc[:, [0,1,2,3,4,5]]
    .sort_values(by='Age', ascending=False)
 )

     Age Sex      BP Cholesterol  Na_to_K   Drug
6     49   F  NORMAL        HIGH   16.275  drugY
23    48   F     LOW        HIGH   15.036  drugY
10    47   F     LOW        HIGH   11.767  drugC
84    47   F     LOW        HIGH   10.067  drugC
194   46   F    HIGH        HIGH   34.686  drugY
101   45   F    HIGH        HIGH   12.854  drugA
134   42   F    HIGH        HIGH   21.036  drugY
117   40   F  NORMAL        HIGH   10.103  drugX
46    37   F    HIGH        HIGH   13.091  drugA
76    36   F    HIGH        HIGH   11.198  drugA
123   36   F  NORMAL        HIGH   16.753  drugY
137   35   F    HIGH        HIGH   12.894  drugA
24    33   F     LOW        HIGH   33.486  drugY
82    32   F     LOW        HIGH    9.712  drugC
129   32   F  NORMAL        HIGH    7.477  drugX
160   30   F  NORMAL        HIGH   10.443  drugX
92    29   F    HIGH        HIGH   29.450  drugY
49    28   F     LOW        HIGH   19.796  drugY
3     28   F  NORMAL        HIGH    7.798  drugX
71    28   F  NORMAL        HIGH   19.675  drugY
102   28   F     LOW        HIGH   13.127  drugC
170   28   F  NORMAL        HIGH   12.879  drugX
55    26   F     LOW        HIGH   14.160  drugC

In [24]:
# Erkeklerde X ilacı kullanıp kollesterolü ve tansiyonu normal olanları listeleyelim (Yaş küçükten büyüğe)

(df.query('Drug == "drugX" and Cholesterol == "NORMAL" and BP == "NORMAL" and Sex == "M"')
    .loc[:, ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug']]
    .sort_values(by='Age', ascending=True)
 )

     Age Sex      BP Cholesterol  Na_to_K   Drug
67    17   M  NORMAL      NORMAL   10.832  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
127   35   M  NORMAL      NORMAL    7.845  drugX
162   43   M  NORMAL      NORMAL   12.859  drugX
35    46   M  NORMAL      NORMAL    7.285  drugX
152   55   M  NORMAL      NORMAL    7.261  drugX
58    60   M  NORMAL      NORMAL   10.091  drugX
51    67   M  NORMAL      NORMAL   10.898  drugX
116   67   M  NORMAL      NORMAL    9.514  drugX

In [9]:
df_fuel = pd.read_csv(filepath_or_buffer='data/FuelConsumption.csv')
df_fuel[:5]

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [38]:
df_fuel.shape

(1067, 13)

In [39]:
df_fuel.dtypes

MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

In [40]:
# VEHICLECLASS da size içerenleri ve FUELTYPE E olanların 'MAKE', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS', 'TRANSMISSION', 'FUELTYPE' ları listeleyelim

(df_fuel.query('VEHICLECLASS.str.contains("SIZE") and FUELTYPE == "E"')
    .loc[:, ['MAKE', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS', 'TRANSMISSION', 'FUELTYPE']]
    .sort_values(by='CYLINDERS', ascending = False)
 )

          MAKE VEHICLECLASS  ENGINESIZE  CYLINDERS TRANSMISSION FUELTYPE
560     JAGUAR    FULL-SIZE         5.0          8          AS8        E
553     JAGUAR     MID-SIZE         5.0          8          AS8        E
557     JAGUAR    FULL-SIZE         5.0          8          AS8        E
145      BUICK     MID-SIZE         3.6          6          AS6        E
287   CHRYSLER    FULL-SIZE         3.6          6           A8        E
147      BUICK     MID-SIZE         3.6          6          AS6        E
231  CHEVROLET    FULL-SIZE         3.6          6          AS6        E
282   CHRYSLER     MID-SIZE         3.6          6           A6        E
308      DODGE    FULL-SIZE         3.6          6           A8        E
296      DODGE     MID-SIZE         3.6          6           A6        E
289   CHRYSLER    FULL-SIZE         3.6          6           A8        E
310      DODGE    FULL-SIZE         3.6          6           A5        E
312      DODGE    FULL-SIZE         3.6          6           A8        E
425       FORD    FULL-SIZE         3.5          6          AS6        E
427       FORD    FULL-SIZE         3.5          6          AS6        E
318      DODGE     MID-SIZE         2.0          4           A6        E

In [ ]:
# Markalara göre karbonemisyon ortalamalarını alalım

df_fuel.groupby('MAKE')[['CO2EMISSIONS']].mean()

               CO2EMISSIONS
MAKE
ACURA            226.000000
ASTON MARTIN     351.571429
AUDI             275.693878
BENTLEY          359.000000
BMW              252.109375
BUICK            235.687500
CADILLAC         287.343750
CHEVROLET        272.930233
CHRYSLER         251.368421
DODGE            249.589744
FIAT             179.500000
FORD             265.955556
GMC              328.244898
HONDA            203.714286
HYUNDAI          217.250000
INFINITI         256.761905
JAGUAR           290.681818
JEEP             251.774194
KIA              217.515152
LAMBORGHINI      394.000000
LAND ROVER       307.842105
LEXUS            246.500000
LINCOLN          268.181818
MASERATI         319.666667
MAZDA            193.037037
MERCEDES-BENZ    277.677966
MINI             188.527778
MITSUBISHI       210.500000
NISSAN           251.393939
PORSCHE          258.840909
RAM              291.230769
ROLLS-ROYCE      381.000000
SCION            198.888889
SMART            147.000000
SRT              389.000000
SUBARU           225.130435
TOYOTA           235.183673
VOLKSWAGEN       216.000000
VOLVO            257.818182

In [10]:
# Markalara göre FUELCONSUMPTION_CITY	FUELCONSUMPTION_HWY	FUELCONSUMPTION_COMB	FUELCONSUMPTION_COMB_MPG	CO2EMISSIONS ların ortalamalarını ve orta değerlerini listeleyelim

df_fuel.groupby('MAKE')[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']].agg(['mean', 'median'])

              FUELCONSUMPTION_CITY        FUELCONSUMPTION_HWY         \
                              mean median                mean median
MAKE
ACURA                    11.308333  11.85            8.016667   8.10
ASTON MARTIN             17.857143  18.00           12.114286  12.20
AUDI                     13.789796  13.10            9.351020   8.80
BENTLEY                  18.750000  19.40           11.712500  11.85
BMW                      12.753125  11.90            8.648438   8.30
BUICK                    12.675000  11.60            8.625000   7.95
CADILLAC                 15.040625  13.45           10.259375   9.05
CHEVROLET                15.152326  14.70           10.733721   9.90
CHRYSLER                 14.405263  12.90            9.336842   8.60
DODGE                    13.907692  13.70            9.176923   9.20
FIAT                      8.620000   8.50            6.800000   6.90
FORD                     14.561111  13.70           10.635556   9.55
GMC                      19.200000  18.80           13.746939  13.90
HONDA                    10.080952  10.10            7.376190   6.90
HYUNDAI                  10.691667  10.75            7.920833   7.85
INFINITI                 12.747619  13.20            9.219048   9.30
JAGUAR                   15.695455  15.65           10.481818  10.20
JEEP                     12.429032  11.40            9.374194   8.70
KIA                      10.766667  10.50            7.836364   7.80
LAMBORGHINI              20.466667  20.60           13.066667  12.90
LAND ROVER               17.163158  17.20           12.247368  12.20
LEXUS                    12.072727  12.15            9.050000   8.90
LINCOLN                  13.936364  13.70           10.154545   9.40
MASERATI                 16.716667  16.75           10.450000  10.20
MAZDA                     9.444444   8.80            7.096296   6.70
MERCEDES-BENZ            13.901695  13.40            9.932203   9.50
MINI                      9.133333   9.20            7.038889   6.90
MITSUBISHI               10.243750   9.80            7.800000   7.55
NISSAN                   12.284848  12.30            9.263636   9.30
PORSCHE                  12.986364  12.60            9.034091   8.80
RAM                      15.669231  15.80           11.007692  10.90
ROLLS-ROYCE              19.957143  20.70           12.485714  12.70
SCION                     9.633333  10.20            7.444444   7.50
SMART                     6.900000   6.90            5.700000   5.70
SRT                      20.000000  20.00           13.000000  13.00
SUBARU                   10.973913  10.20            8.304348   8.00
TOYOTA                   11.318367  11.40            8.879592   8.60
VOLKSWAGEN               10.423810  10.60            7.500000   7.60
VOLVO                    12.909091  13.20            9.154545   9.50

              FUELCONSUMPTION_COMB        FUELCONSUMPTION_COMB_MPG         \
                              mean median                     mean median
MAKE
ACURA                     9.825000  10.05                29.500000   28.0
ASTON MARTIN             15.285714  15.40                18.285714   18.0
AUDI                     11.793878  11.20                24.938776   25.0
BENTLEY                  15.600000  16.00                18.250000   17.5
BMW                      10.907813  10.20                26.875000   27.5
BUICK                    10.856250   9.90                27.125000   29.0
CADILLAC                 12.896875  11.40                22.875000   25.0
CHEVROLET                13.167442  12.60                24.395349   22.0
CHRYSLER                 12.121053  10.90                23.894737   26.0
DODGE                    11.784615  11.80                25.076923   24.0
FIAT                      7.810000   7.80                36.300000   36.0
FORD                     12.798889  12.00                24.622222   23.5
GMC                      16.755102  16.50                17.673469   17.0
HONDA                     8.857143   8.70                33.761905   32.0
HYUNDAI                   9.441667   9.45                30.916667   29.5
INFINITI                 11.161905  11.50                26.142857   25.0
JAGUAR                   13.372727  13.30                21.545455   21.0
JEEP                     11.051613  10.20                26.193548   28.0
KIA                       9.457576   9.20                30.393939   31.0
LAMBORGHINI              17.133333  17.40                16.333333   16.0
LAND ROVER               14.963158  15.00                19.842105   19.0
LEXUS                    10.713636  10.80                27.954545   26.5
LINCOLN                  12.254545  11.80                25.181818   24.0
MASERATI                 13.900000  13.80                20.333333   20.5
MAZDA                     8.388889   7.70                34.592593   37.0
MERCEDES-BENZ            12.115254  11.70                24.406780   24.0
MINI                      8.197222   8.15                34.333333   34.5
MITSUBISHI                9.150000   8.75                32.000000   32.0
NISSAN                   10.930303  11.00                27.484848   26.0
PORSCHE                  11.211364  10.90                25.522727   26.0
RAM                      13.569231  13.60                21.538462   21.0
ROLLS-ROYCE              16.571429  17.10                17.428571   17.0
SCION                     8.644444   9.00                33.444444   31.0
SMART                     6.400000   6.40                44.000000   44.0
SRT                      16.900000  16.90                17.000000   17.0
SUBARU                    9.782609   9.50                29.608696   30.0
TOYOTA                   10.224490  10.20                30.551020   28.0
VOLKSWAGEN                9.116667   9.35                31.857143   30.0
VOLVO                    11.218182  11.50                25.454545   25.0

              CO2EMISSIONS
                      mean median
MAKE
ACURA           226.000000  231.0
ASTON MARTIN    351.571429  354.0
AUDI            275.693878  260.0
BENTLEY         359.000000  368.0
BMW             252.109375  234.5
BUICK           235.687500  228.0
CADILLAC        287.343750  262.0
CHEVROLET       272.930233  274.0
CHRYSLER        251.368421  242.0
DODGE           249.589744  251.0
FIAT            179.500000  179.0
FORD            265.955556  264.0
GMC             328.244898  322.0
HONDA           203.714286  200.0
HYUNDAI         217.250000  217.5
INFINITI        256.761905  265.0
JAGUAR          290.681818  297.5
JEEP            251.774194  242.0
KIA             217.515152  212.0
LAMBORGHINI     394.000000  400.0
LAND ROVER      307.842105  331.0
LEXUS           246.500000  248.5
LINCOLN         268.181818  271.0
MASERATI        319.666667  317.5
MAZDA           193.037037  177.0
MERCEDES-BENZ   277.677966  269.0
MINI            188.527778  187.5
MITSUBISHI      210.500000  201.0
NISSAN          251.393939  253.0
PORSCHE         258.840909  252.0
RAM             291.230769  285.0
ROLLS-ROYCE     381.000000  393.0
SCION           198.888889  207.0
SMART           147.000000  147.0
SRT             389.000000  389.0
SUBARU          225.130435  218.0
TOYOTA          235.183673  235.0
VOLKSWAGEN      216.000000  215.0
VOLVO           257.818182  264.0

In [18]:
# markaalakarın modellerine göre FUELCONSUMPTION_COMB CO2EMISSIONS değerlerinin mean ve medianını listeleyelim

df_fuel.groupby(['MAKE','MODEL'])[['FUELCONSUMPTION_COMB','CO2EMISSIONS']].agg(['mean','median'])

                 FUELCONSUMPTION_COMB        CO2EMISSIONS
                                 mean median         mean median
MAKE  MODEL
ACURA ILX                        9.05   9.05        208.5  208.5
      ILX HYBRID                 5.90   5.90        136.0  136.0
      MDX 4WD                   11.10  11.10        255.0  255.0
      RDX AWD                   10.60  10.60        244.0  244.0
      RLX                       10.00  10.00        230.0  230.0
...                               ...    ...          ...    ...
VOLVO S80 AWD                   11.50  11.50        264.0  264.0
      XC60                      11.20  11.20        258.0  258.0
      XC60 AWD                  11.65  11.65        267.5  267.5
      XC70 AWD                  11.55  11.55        265.5  265.5
      XC90 AWD                  12.80  12.80        294.0  294.0

[663 rows x 4 columns]

In [ ]:
#bütün markaları görmek için ilk değerlerini listeleyelim

df_fuel.groupby('MAKE').first() # .last() fonksiyonu ile de son değerleri listelenir

,MODELYEAR,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
MAKE,,,,,,,,,,,,
ACURA,2014,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
ASTON MARTIN,2014,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
AUDI,2014,A4,COMPACT,2.0,4,AV8,Z,9.9,7.4,8.8,32,202
BENTLEY,2014,CONTINENTAL GT,SUBCOMPACT,4.0,8,AS8,Z,15.4,9.8,12.9,22,297
BMW,2014,320i,COMPACT,2.0,4,A8,Z,10.0,6.5,8.4,34,193
BUICK,2014,ENCLAVE,SUV - STANDARD,3.6,6,A6,X,14.3,9.9,12.3,23,283
CADILLAC,2014,ATS,COMPACT,2.0,4,AS6,Z,11.3,7.5,9.6,29,221
CHEVROLET,2014,CAMARO,COMPACT,3.6,6,AS6,X,13.2,8.7,11.2,25,258
CHRYSLER,2014,300,FULL-SIZE,3.6,6,A8,X,12.4,7.7,10.3,27,237
DODGE,2014,AVENGER,MID-SIZE,2.4,4,A4,X,11.2,8.0,9.8,29,225
FIAT,2014,500 ABARTH CABRIO,MINICOMPACT,1.4,4,M5,X,8.5,6.9,7.8,36,179
FORD,2014,C-MAX HYBRID,FULL-SIZE,2.0,4,AV,X,5.6,6.4,6.0,47,138
GMC,2014,ACADIA,SUV - STANDARD,3.6,6,A6,X,14.3,9.9,12.3,23,283
HONDA,2014,ACCORD,MID-SIZE,2.4,4,AV,X,9.0,6.6,7.9,36,182
HYUNDAI,2014,ACCENT,COMPACT,1.6,4,A6,X,8.8,6.3,7.7,37,177
INFINITI,2014,Q50,MID-SIZE,3.7,6,AS7,Z,12.0,8.0,10.2,28,235
JAGUAR,2014,F-TYPE CONVERTIBLE,TWO-SEATER,3.0,6,AS8,Z,11.8,8.4,10.3,27,237
JEEP,2014,CHEROKEE,SUV - SMALL,2.4,4,A9,X,10.9,7.7,9.5,30,218
KIA,2014,CADENZA,FULL-SIZE,3.3,6,A6,X,12.7,8.8,10.9,26,251
LAMBORGHINI,2014,AVENTADOR COUPE,TWO-SEATER,6.5,12,A7,Z,22.8,12.9,18.3,15,421
LAND ROVER,2014,LR2,SUV - SMALL,2.0,4,AS6,Z,13.5,9.9,11.9,24,274
LEXUS,2014,CT 200h,COMPACT,1.8,4,AV,X,5.5,5.8,5.6,50,129
LINCOLN,2014,MKS AWD,FULL-SIZE,3.5,6,AS6,X,13.7,9.4,11.8,24,271
MASERATI,2014,GHIBLI,MID-SIZE,3.0,6,AS8,Z,15.2,9.6,12.7,22,292
MAZDA,2014,CX-5,SUV - SMALL,2.0,4,AS6,X,8.9,7.3,8.2,34,189
MERCEDES-BENZ,2014,B 250,STATION WAGON - SMALL,2.0,4,AS7,Z,9.2,6.6,8.0,35,184
MINI,2014,COOPER CLUBMAN,SUBCOMPACT,1.6,4,A6,Z,8.7,6.6,7.8,36,179
MITSUBISHI,2014,LANCER,COMPACT,2.0,4,AV6,X,9.2,7.0,8.2,34,189
NISSAN,2014,370Z,TWO-SEATER,3.7,6,AS7,Z,12.6,9.1,11.0,26,253
PORSCHE,2014,911 CARRERA,MINICOMPACT,3.4,6,AM7,Z,11.6,8.3,10.1,28,232
RAM,2014,1500 (MDS),PICKUP TRUCK - STANDARD,5.7,8,A6,X,17.1,12.0,14.8,19,340
ROLLS-ROYCE,2014,GHOST,FULL-SIZE,6.6,12,A8,Z,19.1,12.3,16.0,18,368
SCION,2014,FR-S,MINICOMPACT,2.0,4,AS6,Z,9.6,7.0,8.4,34,193
SMART,2014,FORTWO CABRIOLET,TWO-SEATER,1.0,3,AM5,Z,6.9,5.7,6.4,44,147
SRT,2014,VIPER COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,13.0,16.9,17,389
SUBARU,2014,BRZ,MINICOMPACT,2.0,4,AS6,Z,9.6,7.1,8.5,33,196
TOYOTA,2014,4RUNNER (Part-Time 4WD),SUV - STANDARD,4.0,6,AS5,X,14.3,11.1,12.9,22,297
VOLKSWAGEN,2014,BEETLE,COMPACT,1.8,4,A6,X,9.5,7.2,8.5,33,196
VOLVO,2014,S60,COMPACT,2.5,5,AS6,X,11.3,7.8,9.7,29,223

In [25]:
# Sadece BMW'nin modellerinin mean ve medianlarnı listeleyelim

(df_fuel.query('MAKE == "BMW"')
    .groupby(['MAKE', 'MODEL'])[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']]
    .agg(['mean', 'median']))

                              FUELCONSUMPTION_CITY        FUELCONSUMPTION_HWY  \
                                              mean median                mean
MAKE MODEL
BMW  320i                                    10.20  10.20                6.60
     320i xDRIVE                             10.20  10.20                7.00
     328d xDRIVE                              7.60   7.60                5.50
     328d xDRIVE TOURING                      7.60   7.60                5.50
     328i                                    10.20  10.20                6.60
     328i xDRIVE                             10.60  10.60                7.20
     328i xDRIVE GRAN TURISMO                10.60  10.60                7.20
     328i xDRIVE TOURING                     10.60  10.60                7.20
     335i                                    11.60  11.60                7.60
     335i xDRIVE                             11.80  11.80                8.05
     335i xDRIVE GRAN TURISMO                11.90  11.90                8.00
     428i COUPE                              10.20  10.20                6.60
     428i xDRIVE COUPE                       10.60  10.60                7.20
     435i COUPE                              11.60  11.60                7.60
     435i xDRIVE COUPE                       11.80  11.80                8.05
     528i                                    10.20  10.20                7.00
     528i xDRIVE                             10.60  10.60                7.20
     535d xDRIVE                              9.20   9.20                6.40
     535i xDRIVE                             11.90  11.90                8.00
     535i xDRIVE GRAN TURISMO                12.50  12.50                8.60
     550i xDRIVE                             14.40  14.40                9.60
     550i xDRIVE GRAN TURISMO                15.00  15.00                9.80
     640i xDRIVE GRAN COUPE                  11.90  11.90                8.00
     650i xDRIVE CABRIOLET                   15.00  15.00                9.80
     650i xDRIVE COUPE                       14.40  14.40                9.60
     650i xDRIVE GRAN COUPE                  15.00  15.00                9.80
     740Li xDRIVE                            12.50  12.50                8.60
     750Li xDRIVE                            15.00  15.00                9.80
     750i xDRIVE                             15.00  15.00                9.80
     760Li                                   18.70  18.70               11.50
     ACTIVEHYBRID 3                           9.20   9.20                7.10
     ACTIVEHYBRID 5                          10.50  10.50                7.90
     ACTIVEHYBRID 7L                         10.50  10.50                7.60
     ALPINA B7 xDRIVE LWB                    15.00  15.00                9.80
     ALPINA B7 xDRIVE SWB                    15.00  15.00                9.80
     M5                                      16.75  16.75               11.20
     M6                                      16.75  16.75               11.20
     M6 CABRIOLET                            16.75  16.75               11.20
     M6 GRAN COUPE                           16.75  16.75               11.20
     X1 xDRIVE28i                            10.60  10.60                7.20
     X1 xDRIVE35i                            13.20  13.20                8.90
     X3 xDRIVE28i                            11.20  11.20                8.50
     X3 xDRIVE35i                            12.60  12.60                9.10
     X5 xDRIVE35i                            12.90  12.90                8.80
     X5 xDRIVE50i                            16.30  16.30               10.90
     X6 M                                    18.10  18.10               13.70
     X6 xDRIVE35i                            13.60  13.60                9.80
     X6 xDRIVE50i                            16.40  16.40               11.30
     Z4 sDRIVE28i                            10.60  10.60                6.90
     Z4 sDRIVE35i                            13.20  13.20                9.55
     Z4 sDRIVE35is                           13.70  13.70               10.10

                                     FUELCONSUMPTION_COMB         \
                              median                 mean median
MAKE MODEL
BMW  320i                       6.60                 8.55   8.55
     320i xDRIVE                7.00                 8.80   8.80
     328d xDRIVE                5.50                 6.70   6.70
     328d xDRIVE TOURING        5.50                 6.70   6.70
     328i                       6.60                 8.55   8.55
     328i xDRIVE                7.20                 9.10   9.10
     328i xDRIVE GRAN TURISMO   7.20                 9.10   9.10
     328i xDRIVE TOURING        7.20                 9.10   9.10
     335i                       7.60                 9.80   9.80
     335i xDRIVE                8.05                10.10  10.10
     335i xDRIVE GRAN TURISMO   8.00                10.10  10.10
     428i COUPE                 6.60                 8.55   8.55
     428i xDRIVE COUPE          7.20                 9.10   9.10
     435i COUPE                 7.60                 9.80   9.80
     435i xDRIVE COUPE          8.05                10.10  10.10
     528i                       7.00                 8.80   8.80
     528i xDRIVE                7.20                 9.10   9.10
     535d xDRIVE                6.40                 7.90   7.90
     535i xDRIVE                8.00                10.10  10.10
     535i xDRIVE GRAN TURISMO   8.60                10.70  10.70
     550i xDRIVE                9.60                12.20  12.20
     550i xDRIVE GRAN TURISMO   9.80                12.70  12.70
     640i xDRIVE GRAN COUPE     8.00                10.10  10.10
     650i xDRIVE CABRIOLET      9.80                12.70  12.70
     650i xDRIVE COUPE          9.60                12.20  12.20
     650i xDRIVE GRAN COUPE     9.80                12.70  12.70
     740Li xDRIVE               8.60                10.70  10.70
     750Li xDRIVE               9.80                12.70  12.70
     750i xDRIVE                9.80                12.70  12.70
     760Li                     11.50                15.50  15.50
     ACTIVEHYBRID 3             7.10                 8.30   8.30
     ACTIVEHYBRID 5             7.90                 9.30   9.30
     ACTIVEHYBRID 7L            7.60                 9.20   9.20
     ALPINA B7 xDRIVE LWB       9.80                12.70  12.70
     ALPINA B7 xDRIVE SWB       9.80                12.70  12.70
     M5                        11.20                14.25  14.25
     M6                        11.20                14.25  14.25
     M6 CABRIOLET              11.20                14.25  14.25
     M6 GRAN COUPE             11.20                14.25  14.25
     X1 xDRIVE28i               7.20                 9.10   9.10
     X1 xDRIVE35i               8.90                11.30  11.30
     X3 xDRIVE28i               8.50                10.00  10.00
     X3 xDRIVE35i               9.10                11.00  11.00
     X5 xDRIVE35i               8.80                11.10  11.10
     X5 xDRIVE50i              10.90                13.90  13.90
     X6 M                      13.70                16.10  16.10
     X6 xDRIVE35i               9.80                11.90  11.90
     X6 xDRIVE50i              11.30                14.10  14.10
     Z4 sDRIVE28i               6.90                 8.90   8.90
     Z4 sDRIVE35i               9.55                11.55  11.55
     Z4 sDRIVE35is             10.10                12.10  12.10

                              FUELCONSUMPTION_COMB_MPG        CO2EMISSIONS  \
                                                  mean median         mean
MAKE MODEL
BMW  320i                                         33.0   33.0        196.5
     320i xDRIVE                                  32.0   32.0        202.0
     328d xDRIVE                                  42.0   42.0        181.0
     328d xDRIVE TOURING                          42.0   42.0        181.0
     328i                                         33.0   33.0        196.5
     328i xDRIVE                                  31.0   31.0        209.0
     328i xDRIVE GRAN TURISMO                     31.0   31.0        209.0
     328i xDRIVE TOURING                          31.0   31.0        209.0
     335i                                         28.5   28.5        225.5
     335i xDRIVE                                  28.0   28.0        232.5
     335i xDRIVE GRAN TURISMO                     28.0   28.0        232.0
     428i COUPE                                   33.0   33.0        196.5
     428i xDRIVE COUPE                            31.0   31.0        209.0
     435i COUPE                                   28.5   28.5        225.5
     435i xDRIVE COUPE                            28.0   28.0        232.5
     528i                                         32.0   32.0        202.0
     528i xDRIVE                                  31.0   31.0        209.0
     535d xDRIVE                                  36.0   36.0        213.0
     535i xDRIVE                                  28.0   28.0        232.0
     535i xDRIVE GRAN TURISMO                     26.0   26.0        246.0
     550i xDRIVE                                  23.0   23.0        281.0
     550i xDRIVE GRAN TURISMO                     22.0   22.0        292.0
     640i xDRIVE GRAN COUPE                       28.0   28.0        232.0
     650i xDRIVE CABRIOLET                        22.0   22.0        292.0
     650i xDRIVE COUPE                            23.0   23.0        281.0
     650i xDRIVE GRAN COUPE                       22.0   22.0        292.0
     740Li xDRIVE                                 26.0   26.0        246.0
     750Li xDRIVE                                 22.0   22.0        292.0
     750i xDRIVE                                  22.0   22.0        292.0
     760Li                                        18.0   18.0        356.0
     ACTIVEHYBRID 3                               34.0   34.0        191.0
     ACTIVEHYBRID 5                               30.0   30.0        214.0
     ACTIVEHYBRID 7L                              31.0   31.0        212.0
     ALPINA B7 xDRIVE LWB                         22.0   22.0        292.0
     ALPINA B7 xDRIVE SWB                         22.0   22.0        292.0
     M5                                           19.5   19.5        327.5
     M6                                           19.5   19.5        327.5
     M6 CABRIOLET                                 19.5   19.5        327.5
     M6 GRAN COUPE                                19.5   19.5        327.5
     X1 xDRIVE28i                                 31.0   31.0        209.0
     X1 xDRIVE35i                                 25.0   25.0        260.0
     X3 xDRIVE28i                                 28.0   28.0        230.0
     X3 xDRIVE35i                                 26.0   26.0        253.0
     X5 xDRIVE35i                                 25.0   25.0        255.0
     X5 xDRIVE50i                                 20.0   20.0        320.0
     X6 M                                         18.0   18.0        370.0
     X6 xDRIVE35i                                 24.0   24.0        274.0
     X6 xDRIVE50i                                 20.0   20.0        324.0
     Z4 sDRIVE28i                                 31.5   31.5        204.5
     Z4 sDRIVE35i                                 24.5   24.5        265.5
     Z4 sDRIVE35is                                23.0   23.0        278.0


                              median
MAKE MODEL
BMW  320i                      196.5
     320i xDRIVE               202.0
     328d xDRIVE               181.0
     328d xDRIVE TOURING       181.0
     328i                      196.5
     328i xDRIVE               209.0
     328i xDRIVE GRAN TURISMO  209.0
     328i xDRIVE TOURING       209.0
     335i                      225.5
     335i xDRIVE               232.5
     335i xDRIVE GRAN TURISMO  232.0
     428i COUPE                196.5
     428i xDRIVE COUPE         209.0
     435i COUPE                225.5
     435i xDRIVE COUPE         232.5
     528i                      202.0
     528i xDRIVE               209.0
     535d xDRIVE               213.0
     535i xDRIVE               232.0
     535i xDRIVE GRAN TURISMO  246.0
     550i xDRIVE               281.0
     550i xDRIVE GRAN TURISMO  292.0
     640i xDRIVE GRAN COUPE    232.0
     650i xDRIVE CABRIOLET     292.0
     650i xDRIVE COUPE         281.0
     650i xDRIVE GRAN COUPE    292.0
     740Li xDRIVE              246.0
     750Li xDRIVE              292.0
     750i xDRIVE               292.0
     760Li                     356.0
     ACTIVEHYBRID 3            191.0
     ACTIVEHYBRID 5            214.0
     ACTIVEHYBRID 7L           212.0
     ALPINA B7 xDRIVE LWB      292.0
     ALPINA B7 xDRIVE SWB      292.0
     M5                        327.5
     M6                        327.5
     M6 CABRIOLET              327.5
     M6 GRAN COUPE             327.5
     X1 xDRIVE28i              209.0
     X1 xDRIVE35i              260.0
     X3 xDRIVE28i              230.0
     X3 xDRIVE35i              253.0
     X5 xDRIVE35i              255.0
     X5 xDRIVE50i              320.0
     X6 M                      370.0
     X6 xDRIVE35i              274.0
     X6 xDRIVE50i              324.0
     Z4 sDRIVE28i              204.5
     Z4 sDRIVE35i              265.5
     Z4 sDRIVE35is             278.0

In [27]:
# SUV lerin min ve max değerlerini listeleyelim

(df_fuel.query('VEHICLECLASS.str.contains("SUV")')
    .groupby(['MAKE','MODEL','VEHICLECLASS'])[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']]
    .agg(['min','max']))

                                                   ENGINESIZE      CYLINDERS  \
                                                          min  max       min
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL           3.5  3.5         6
           RDX AWD                  SUV - SMALL           3.5  3.5         6
AUDI       Q5                       SUV - SMALL           2.0  3.0         4
           Q5 HYBRID                SUV - SMALL           2.0  2.0         4
           Q5 TDI CLEAN DIESEL      SUV - SMALL           3.0  3.0         6
...                                                       ...  ...       ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD        3.0  3.0         6
VOLVO      XC60                     SUV - SMALL           3.2  3.2         6
           XC60 AWD                 SUV - SMALL           3.0  3.2         6
           XC70 AWD                 SUV - SMALL           3.0  3.2         6
           XC90 AWD                 SUV - STANDARD        3.2  3.2         6

                                                       FUELCONSUMPTION_CITY  \
                                                   max                  min
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL      6                 12.7
           RDX AWD                  SUV - SMALL      6                 12.1
AUDI       Q5                       SUV - SMALL      6                 12.0
           Q5 HYBRID                SUV - SMALL      4                  9.9
           Q5 TDI CLEAN DIESEL      SUV - SMALL      6                 10.3
...                                                 ..                  ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD   6                 12.3
VOLVO      XC60                     SUV - SMALL      6                 13.0
           XC60 AWD                 SUV - SMALL      6                 13.2
           XC70 AWD                 SUV - SMALL      6                 12.9
           XC90 AWD                 SUV - STANDARD   6                 14.9

                                                         FUELCONSUMPTION_HWY  \
                                                     max                 min
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL     12.7                 9.1
           RDX AWD                  SUV - SMALL     12.1                 8.7
AUDI       Q5                       SUV - SMALL     12.9                 8.5
           Q5 HYBRID                SUV - SMALL      9.9                 8.3
           Q5 TDI CLEAN DIESEL      SUV - SMALL     10.3                 7.6
...                                                  ...                 ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD  12.3                 8.0
VOLVO      XC60                     SUV - SMALL     13.0                 8.9
           XC60 AWD                 SUV - SMALL     13.4                 9.5
           XC70 AWD                 SUV - SMALL     13.4                 9.3
           XC90 AWD                 SUV - STANDARD  14.9                10.2

                                                         FUELCONSUMPTION_COMB  \
                                                     max                  min
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL      9.1                 11.1
           RDX AWD                  SUV - SMALL      8.7                 10.6
AUDI       Q5                       SUV - SMALL      9.2                 10.4
           Q5 HYBRID                SUV - SMALL      8.3                  9.2
           Q5 TDI CLEAN DIESEL      SUV - SMALL      7.6                  9.1
...                                                  ...                  ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD   8.0                 10.4
VOLVO      XC60                     SUV - SMALL      8.9                 11.2
           XC60 AWD                 SUV - SMALL      9.8                 11.5
           XC70 AWD                 SUV - SMALL      9.8                 11.3
           XC90 AWD                 SUV - STANDARD  10.2                 12.8

                                                          \
                                                     max
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL     11.1
           RDX AWD                  SUV - SMALL     10.6
AUDI       Q5                       SUV - SMALL     11.2
           Q5 HYBRID                SUV - SMALL      9.2
           Q5 TDI CLEAN DIESEL      SUV - SMALL      9.1
...                                                  ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD  10.4
VOLVO      XC60                     SUV - SMALL     11.2
           XC60 AWD                 SUV - SMALL     11.8
           XC70 AWD                 SUV - SMALL     11.8
           XC90 AWD                 SUV - STANDARD  12.8

                                                   FUELCONSUMPTION_COMB_MPG  \
                                                                        min
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL                          25
           RDX AWD                  SUV - SMALL                          27
AUDI       Q5                       SUV - SMALL                          25
           Q5 HYBRID                SUV - SMALL                          31
           Q5 TDI CLEAN DIESEL      SUV - SMALL                          31
...                                                                     ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD                       27
VOLVO      XC60                     SUV - SMALL                          25
           XC60 AWD                 SUV - SMALL                          24
           XC70 AWD                 SUV - SMALL                          24
           XC90 AWD                 SUV - STANDARD                       22

                                                       CO2EMISSIONS
                                                   max          min  max
MAKE       MODEL                    VEHICLECLASS
ACURA      MDX 4WD                  SUV - SMALL     25          255  255
           RDX AWD                  SUV - SMALL     27          244  244
AUDI       Q5                       SUV - SMALL     27          239  258
           Q5 HYBRID                SUV - SMALL     31          212  212
           Q5 TDI CLEAN DIESEL      SUV - SMALL     31          246  246
...                                                 ..          ...  ...
VOLKSWAGEN TOUAREG TDI CLEAN DIESEL SUV - STANDARD  27          281  281
VOLVO      XC60                     SUV - SMALL     25          258  258
           XC60 AWD                 SUV - SMALL     25          264  271
           XC70 AWD                 SUV - SMALL     25          260  271
           XC90 AWD                 SUV - STANDARD  22          294  294

[180 rows x 14 columns]

In [28]:
# benzin tiplerine göre mean ve mediları sıralayalım

df_fuel.groupby('FUELTYPE')[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']].agg(['mean', 'median'])

         FUELCONSUMPTION_CITY        FUELCONSUMPTION_HWY         \
                         mean median                mean median
FUELTYPE
D                    9.755556    9.6            6.796296    6.4
E                   20.864130   20.2           14.918478   14.6
X                   11.937160   11.4            8.694942    8.3
Z                   13.522581   13.1            9.410599    9.1

         FUELCONSUMPTION_COMB        FUELCONSUMPTION_COMB_MPG         \
                         mean median                     mean median
FUELTYPE
D                    8.437037   8.30                34.629630   34.0
E                   18.194565  17.80                16.108696   16.0
X                   10.482490  10.00                28.770428   28.0
Z                   11.675346  11.25                25.364055   25.0

         CO2EMISSIONS
                 mean median
FUELTYPE
D          227.777778  224.0
E          291.086957  285.0
X          241.097276  230.0
Z          268.529954  259.0

In [ ]:
df_fuel.groupby(['MAKE']).groups # groups fonksiyonu index numberlarını gösterir

{'ACURA': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'ASTON MARTIN': [12, 13, 14, 15, 16, 17, 18], 'AUDI': [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67], 'BENTLEY': [68, 69, 70, 71, 72, 73, 74, 75], 'BMW': [76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139], 'BUICK': [140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155], 'CADILLAC': [156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187], 'CHEVROLET': [188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273], 'CHRYSLER': [274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292], 'DODGE': [293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331], 'FIAT': [332, 333, 334, 335, 336, 337, 338, 339, 340, 341], 'FORD': [342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431], 'GMC': [432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480], 'HONDA': [481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501], 'HYUNDAI': [502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525], 'INFINITI': [526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546], 'JAGUAR': [547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568], 'JEEP': [569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599], 'KIA': [600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632], 'LAMBORGHINI': [633, 634, 635], 'LAND ROVER': [636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654], 'LEXUS': [655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676], 'LINCOLN': [677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687], 'MASERATI': [688, 689, 690, 691, 692, 693], 'MAZDA': [694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720], 'MERCEDES-BENZ': [721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779], 'MINI': [780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815], 'MITSUBISHI': [816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831], 'NISSAN': [832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864], 'PORSCHE': [865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908], 'RAM': [909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921], 'ROLLS-ROYCE': [922, 923, 924, 925, 926, 927, 928], 'SCION': [929, 930, 931, 932, 933, 934, 935, 936, 937], 'SMART': [938, 939], 'SRT': [940, 941], 'SUBARU': [942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964], 'TOYOTA': [965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013], 'VOLKSWAGEN': [1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055], 'VOLVO': [1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066]}

In [ ]:
df_fuel.groupby(['MAKE']).groups.keys() # isimlerini döner

dict_keys(['ACURA', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW', 'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'DODGE', 'FIAT', 'FORD', 'GMC', 'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP', 'KIA', 'LAMBORGHINI', 'LAND ROVER', 'LEXUS', 'LINCOLN', 'MASERATI', 'MAZDA', 'MERCEDES-BENZ', 'MINI', 'MITSUBISHI', 'NISSAN', 'PORSCHE', 'RAM', 'ROLLS-ROYCE', 'SCION', 'SMART', 'SRT', 'SUBARU', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO'])

In [49]:
# Apply fonksiyonu ile  3.5 ile 6.5 motor hacmi arasındaki 'mean','median', 'min', 'max' değerlerini listeleyelim

def min_max_mean_median(avg):
    return avg.agg(['mean','median', 'min', 'max'])



(df_fuel.query('ENGINESIZE >= 3.5 and ENGINESIZE <= 6.5')
    .groupby('ENGINESIZE')[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']]
    .apply(min_max_mean_median))

                   FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  \
ENGINESIZE
3.5        mean               12.687952             9.214458
           median             12.500000             9.100000
           min                 7.700000             6.700000
           max                18.900000            13.900000
3.6        mean               14.819565            10.085870
...                                 ...                  ...
6.4        max                18.500000            12.600000
6.5        mean               22.800000            12.900000
           median             22.800000            12.900000
           min                22.800000            12.900000
           max                22.800000            12.900000

                   FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  \
ENGINESIZE
3.5        mean               11.124096                 26.048193
           median             11.000000                 26.000000
           min                 7.500000                 17.000000
           max                16.700000                 38.000000
3.6        mean               12.695652                 22.717391
...                                 ...                       ...
6.4        max                15.800000                 20.000000
6.5        mean               18.300000                 15.000000
           median             18.300000                 15.000000
           min                18.300000                 15.000000
           max                18.300000                 15.000000

                   CO2EMISSIONS
ENGINESIZE
3.5        mean      248.036145
           median    251.000000
           min       172.000000
           max       317.000000
3.6        mean      264.608696
...                         ...
6.4        max       363.000000
6.5        mean      421.000000
           median    421.000000
           min       421.000000
           max       421.000000

[100 rows x 5 columns]